@import url("./fonts/fonts.css");
@import url("./components/header.css");
@import url("./components/home.css");
@import url("./components/error.css");

/* Variables */

:root {
    --ff-portico-light: "Portico Light";
    --ff-portico-regular: "Portico Regular";
    --ff-wellingtons-light: "Wellingtons Light";
    --ff-wellingtons-medium: "Wellingtons Medium";
    --ff-wellingtons-extraBold: "Wellingtons ExtraBold";
    --ff-wellingtons-black: "Wellingtons Black";

    --clr-1: ;
}

/* Estilos globales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-wellingtons-medium);
}

main {
    width: 100%;
    height: calc(100vh - 100px);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Componente padre para efecto parallax */

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}